In [1]:
import pandas as pd

In [2]:
pd.read_csv(r"C:\Users\mhmd\Downloads\Edit data\Orders.csv" , skiprows = 4)

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,AHMAD.IAD@MAIL.COM,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [3]:
df = pd.read_csv(r"C:\Users\mhmd\Downloads\Edit data\Orders.csv" , skiprows = 4)
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,AHMAD.IAD@MAIL.COM,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [4]:
df.dropna(how = "all", inplace = True)#inplace عشان بدل معمل اسم جديد يكون نفس الاسم بالقيمة الجديدة

In [5]:
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,sami,altawil,Sami.altawil@mail.com,Tel: 5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,AHMAD.IAD@MAIL.COM,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [6]:
df['City'].str.title()#اول حرف كابتل

0              Homs
1            Riyadh
2            Riyadh
4         Abu Dhabi
5        Washington
            ...
19999    Casablanca
20000          Homs
20001     Las Vegas
20002        Jeddah
20003    Washington
Name: City, Length: 20000, dtype: object

In [7]:
df['City'].str.capitalize()#اول حرف كابتل

0              Homs
1            Riyadh
2            Riyadh
4         Abu dhabi
5        Washington
            ...
19999    Casablanca
20000          Homs
20001     Las vegas
20002        Jeddah
20003    Washington
Name: City, Length: 20000, dtype: object

In [8]:
df['City'] =df['City'].str.capitalize()

In [9]:
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,Homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,Riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,Riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,Abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,Washington,wh01,38.9072,-77.0369,sami,altawil,Sami.altawil@mail.com,Tel: 5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,cs01,33.5731,7.5898,ahmad,iad,AHMAD.IAD@MAIL.COM,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,Homs,hs01,34.7326,36.7136,ali,kiali,Ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,Las vegas,lv01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,Washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [10]:
df['Branch']=df['Branch'].str.upper()
df['Email']=df['Email'].str.lower()

In [11]:
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,Homs,HS01,34.7326,36.7136,lina,alrrashid,lina.alrrashid@mail.com,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar.eurul@mail.com,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman.iismaeil@mail.com,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,Abu dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad.rihan@mail.com,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami.altawil@mail.com,Tel: 5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad.iad@mail.com,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,Las vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [12]:
df['Phone Number']=df['Phone Number'].str.replace('Tel: ', '')#استبدلت كلمة tel بمكان فارغ عشان متبقاش موجودة
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,Homs,HS01,34.7326,36.7136,lina,alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,Abu dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,Las vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [13]:
df['Discount']=df['Discount'].round(1)#العلامة العشرية 
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,Homs,HS01,34.7326,36.7136,lina,alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.9,True
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,Abu dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.9,True
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.9,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.8,True
20001,19998.0,1/9/2023,USA,Las vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True

In [14]:
df['Discount']=df['Discount'].round(0)
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,Homs,HS01,34.7326,36.7136,lina,alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,Abu dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True
20001,19998.0,1/9/2023,USA,Las vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True

In [15]:
df['Cost'] = df['Quantity'] * df['Unit Price']

In [16]:
#انا مثلا عندى الكمية والسعر والتخفيض فعايز اعمل عملية تطلعلى الناتج دا فى عمود يعنى هضرب السعر ف الكمية واقسم على واطرح التخفيض
df['Total Price'] = df['Quantity'] * df['Unit Price'] - df['Discount'].fillna(0)#عوضت عن القيم الفارغة بصفر
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,...,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Cost,Total Price
0,1.0,1/1/2023,Syria,Homs,HS01,34.7326,36.7136,lina,alrrashid,lina.alrrashid@mail.com,...,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar.eurul@mail.com,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman.iismaeil@mail.com,...,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True,1299.0,1299.0
4,4.0,1/1/2023,United Arab Emirates,Abu dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad.rihan@mail.com,...,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami.altawil@mail.com,...,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad.iad@mail.com,...,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,...,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0
20001,19998.0,1/9/2023,USA,Las vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,...,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin.bahriin@mail.com,...,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad.shakur@mail.com,...,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0

In [17]:

df.insert(9 , 'Customer Full Name' , df['Customer First Name']+' '+df['Customer Last Name'])#دمج عمودين مع بعض

In [18]:
newcolumn = df['Branch'].str[:2]#هيجيب اول حرفين عشان كدا كئنه من الصفر إلى الواحد ، رقم اتنين مش معانا
df.insert(5 , 'Brcode' , newcolumn)
df

,Order ID,Order Date,Country,City,Branch,Brcode,Lat,Lng,Customer First Name,Customer Last Name,...,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Cost,Total Price
0,1.0,1/1/2023,Syria,Homs,HS01,HS,34.7326,36.7136,lina,alrrashid,...,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,omar,eurul,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,RD,24.7743,46.7386,iman,iismaeil,...,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True,1299.0,1299.0
4,4.0,1/1/2023,United Arab Emirates,Abu dhabi,AD01,AD,24.4539,54.3773,ahmad,rihan,...,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0
5,5.0,1/1/2023,USA,Washington,WH01,WH,38.9072,-77.0369,sami,altawil,...,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,CS,33.5731,7.5898,ahmad,iad,...,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0
20000,19997.0,1/9/2023,Syria,Homs,HS01,HS,34.7326,36.7136,ali,kiali,...,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0
20001,19998.0,1/9/2023,USA,Las vegas,LV01,LV,36.1699,-115.1398,husayn,salayk,...,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,JD,21.4858,39.1925,fatin,bahriin,...,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0
20003,20000.0,1/9/2023,USA,Washington,WH01,WH,38.9072,-77.0369,ahmad,shakur,...,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0

In [19]:
df['Customer Full Name'] = df['Customer Full Name'].str.title()
pd.set_option('display.max_columns', None)#عشان لو فيه اعمدة مش ظاهرة عشان المكان تظهر (بيبقى مكانها نقط.....)
df

,Order ID,Order Date,Country,City,Branch,Brcode,Lat,Lng,Customer First Name,Customer Last Name,Customer Full Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Cost,Total Price
0,1.0,1/1/2023,Syria,Homs,HS01,HS,34.7326,36.7136,lina,alrrashid,Lina Alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,omar,eurul,Omar Eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,RD,24.7743,46.7386,iman,iismaeil,Iman Iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True,1299.0,1299.0
4,4.0,1/1/2023,United Arab Emirates,Abu dhabi,AD01,AD,24.4539,54.3773,ahmad,rihan,Ahmad Rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0
5,5.0,1/1/2023,USA,Washington,WH01,WH,38.9072,-77.0369,sami,altawil,Sami Altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,CS,33.5731,7.5898,ahmad,iad,Ahmad Iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0
20000,19997.0,1/9/2023,Syria,Homs,HS01,HS,34.7326,36.7136,ali,kiali,Ali Kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0
20001,19998.0,1/9/2023,USA,Las vegas,LV01,LV,36.1699,-115.1398,husayn,salayk,Husayn Salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,JD,21.4858,39.1925,fatin,bahriin,Fatin Bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0
20003,20000.0,1/9/2023,USA,Washington,WH01,WH,38.9072,-77.0369,ahmad,shakur,Ahmad Shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0

In [20]:
df.loc[df['Status']== True]#كل الصح بس فى العمود دا

,Order ID,Order Date,Country,City,Branch,Brcode,Lat,Lng,Customer First Name,Customer Last Name,Customer Full Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Cost,Total Price
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,omar,eurul,Omar Eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,RD,24.7743,46.7386,iman,iismaeil,Iman Iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True,1299.0,1299.0
4,4.0,1/1/2023,United Arab Emirates,Abu dhabi,AD01,AD,24.4539,54.3773,ahmad,rihan,Ahmad Rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0
5,5.0,1/1/2023,USA,Washington,WH01,WH,38.9072,-77.0369,sami,altawil,Sami Altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0
6,6.0,1/1/2023,Syria,Aleppo,AL01,AL,36.2021,37.1343,ahed,salim,Ahed Salim,ahed.salim@mail.com,5277356213,Smartwatch,Garmin Fenix,Garmin Fenix 6S,J431,1.0,499.0,5.0,True,499.0,494.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,CS,33.5731,7.5898,ahmad,iad,Ahmad Iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0
20000,19997.0,1/9/2023,Syria,Homs,HS01,HS,34.7326,36.7136,ali,kiali,Ali Kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0
20001,19998.0,1/9/2023,USA,Las vegas,LV01,LV,36.1699,-115.1398,husayn,salayk,Husayn Salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,JD,21.4858,39.1925,fatin,bahriin,Fatin Bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0
20003,20000.0,1/9/2023,USA,Washington,WH01,WH,38.9072,-77.0369,ahmad,shakur,Ahmad Shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0

In [21]:
df.loc[df['Status']== True , 'Status']

1        True
2        True
4        True
5        True
6        True
         ...
19999    True
20000    True
20001    True
20002    True
20003    True
Name: Status, Length: 14013, dtype: object

In [22]:
#لو عايز اقول ان كل الترو دا تمم دوون (حاجة زى if)
df.loc[df['Status']== True , 'Order status'] = 'Done'
df.loc[df['Status']== False , 'Order status'] = 'Pending'
df.loc[(df['Status']== False) & (df['Order Date']<= '2023-01-01') , 'Order status'] = 'Canceled'

df

,Order ID,Order Date,Country,City,Branch,Brcode,Lat,Lng,Customer First Name,Customer Last Name,Customer Full Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Cost,Total Price,Order status
0,1.0,1/1/2023,Syria,Homs,HS01,HS,34.7326,36.7136,lina,alrrashid,Lina Alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0,Canceled
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,omar,eurul,Omar Eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0,Done
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,RD,24.7743,46.7386,iman,iismaeil,Iman Iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True,1299.0,1299.0,Done
4,4.0,1/1/2023,United Arab Emirates,Abu dhabi,AD01,AD,24.4539,54.3773,ahmad,rihan,Ahmad Rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0,Done
5,5.0,1/1/2023,USA,Washington,WH01,WH,38.9072,-77.0369,sami,altawil,Sami Altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0,Done
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,CS,33.5731,7.5898,ahmad,iad,Ahmad Iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0,Done
20000,19997.0,1/9/2023,Syria,Homs,HS01,HS,34.7326,36.7136,ali,kiali,Ali Kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0,Done
20001,19998.0,1/9/2023,USA,Las vegas,LV01,LV,36.1699,-115.1398,husayn,salayk,Husayn Salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0,Done
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,JD,21.4858,39.1925,fatin,bahriin,Fatin Bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0,Done
20003,20000.0,1/9/2023,USA,Washington,WH01,WH,38.9072,-77.0369,ahmad,shakur,Ahmad Shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0,Done

In [23]:

def level(row):
    if row>1000:
        return 'High'
    else:
        return 'Low'
df['Cost Level'] = df['Cost'].apply(level) 
df

,Order ID,Order Date,Country,City,Branch,Brcode,Lat,Lng,Customer First Name,Customer Last Name,Customer Full Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Cost,Total Price,Order status,Cost Level
0,1.0,1/1/2023,Syria,Homs,HS01,HS,34.7326,36.7136,lina,alrrashid,Lina Alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0,Canceled,Low
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,omar,eurul,Omar Eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0,Done,High
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,RD,24.7743,46.7386,iman,iismaeil,Iman Iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True,1299.0,1299.0,Done,High
4,4.0,1/1/2023,United Arab Emirates,Abu dhabi,AD01,AD,24.4539,54.3773,ahmad,rihan,Ahmad Rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0,Done,Low
5,5.0,1/1/2023,USA,Washington,WH01,WH,38.9072,-77.0369,sami,altawil,Sami Altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0,Done,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,CS,33.5731,7.5898,ahmad,iad,Ahmad Iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0,Done,Low
20000,19997.0,1/9/2023,Syria,Homs,HS01,HS,34.7326,36.7136,ali,kiali,Ali Kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0,Done,Low
20001,19998.0,1/9/2023,USA,Las vegas,LV01,LV,36.1699,-115.1398,husayn,salayk,Husayn Salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0,Done,Low
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,JD,21.4858,39.1925,fatin,bahriin,Fatin Bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0,Done,Low
20003,20000.0,1/9/2023,USA,Washington,WH01,WH,38.9072,-77.0369,ahmad,shakur,Ahmad Shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0,Done,Low

In [24]:
import numpy as np

In [25]:
df['Discount Descreption'] = np.where(df['Discount'].isnull(), 'No Discount', df['Discount']/df['Cost'] )
df
#np where 
#بتاخد تلت حجات الشرط الىى هو لو يساوى null التانى هنديله الاسم التالت لو لا يساوى null هنعمل المعادلة او نديله اسم الى احنا عايزينه

,Order ID,Order Date,Country,City,Branch,Brcode,Lat,Lng,Customer First Name,Customer Last Name,Customer Full Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Cost,Total Price,Order status,Cost Level,Discount Descreption
0,1.0,1/1/2023,Syria,Homs,HS01,HS,34.7326,36.7136,lina,alrrashid,Lina Alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0,Canceled,Low,0.04004004004004004
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,omar,eurul,Omar Eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0,Done,High,0.10008340283569642
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,RD,24.7743,46.7386,iman,iismaeil,Iman Iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True,1299.0,1299.0,Done,High,No Discount
4,4.0,1/1/2023,United Arab Emirates,Abu dhabi,AD01,AD,24.4539,54.3773,ahmad,rihan,Ahmad Rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0,Done,Low,0.07035175879396985
5,5.0,1/1/2023,USA,Washington,WH01,WH,38.9072,-77.0369,sami,altawil,Sami Altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0,Done,Low,0.031007751937984496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,CS,33.5731,7.5898,ahmad,iad,Ahmad Iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0,Done,Low,0.03007518796992481
20000,19997.0,1/9/2023,Syria,Homs,HS01,HS,34.7326,36.7136,ali,kiali,Ali Kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0,Done,Low,0.10033444816053512
20001,19998.0,1/9/2023,USA,Las vegas,LV01,LV,36.1699,-115.1398,husayn,salayk,Husayn Salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0,Done,Low,0.030303030303030304
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,JD,21.4858,39.1925,fatin,bahriin,Fatin Bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0,Done,Low,0.04040404040404041
20003,20000.0,1/9/2023,USA,Washington,WH01,WH,38.9072,-77.0369,ahmad,shakur,Ahmad Shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0,Done,Low,0.020080321285140562

In [26]:
#حفظ الملف فى المكان الى عايزينه
df.to_csv('C:\Users\almun\Desktop\Python\MyNewData.csv', index=False)#عشان ميعملش عمود فى ارقام الصفوف

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (489133380.py, line 2)

In [27]:
df.describe()

,Order ID,Lat,Lng,Quantity,Unit Price,Discount,Cost,Total Price
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,18889.000000,20000.000000,20000.00000
mean,10000.500000,30.461665,11.339318,1.936750,609.292000,65.076447,1181.035250,1119.57380
std,5773.647028,8.126746,53.194139,2.288736,617.976051,145.497398,2272.317786,2155.05174
min,1.000000,18.231100,-115.149200,1.000000,29.000000,0.000000,29.000000,26.00000
25%,5000.750000,24.453900,2.352200,1.000000,179.000000,10.000000,229.000000,206.00000
50%,10000.500000,27.180900,37.134300,1.000000,399.000000,24.000000,499.000000,489.00000
75%,15000.250000,36.202100,42.500400,2.000000,899.000000,65.000000,1199.000000,1151.00000
max,20000.000000,48.856600,56.324200,13.000000,3999.000000,3999.000000,45487.000000,43667.00000

In [28]:
df['Quantity'].sum()

38735.0

In [29]:
df['Unit Price'].mean()#المتوسط

609.292

In [30]:
df['Cost'].agg(['sum','mean','max','min'])

sum     2.362070e+07
mean    1.181035e+03
max     4.548700e+04
min     2.900000e+01
Name: Cost, dtype: float64

In [31]:
df[['Cost','Quantity']].agg(['sum','mean','max','min'])#اهم حاجة لما يكون فى كزا امر لازم نعمل ليست [فى القوسين المربعين دول]

              Cost     Quantity
sum   2.362070e+07  38735.00000
mean  1.181035e+03      1.93675
max   4.548700e+04     13.00000
min   2.900000e+01      1.00000

In [33]:
df['City'].unique()#القيم غير المكررة فى العمود

array(['Homs', 'Riyadh', 'Abu dhabi', 'Washington', 'Aleppo', 'Cairo',
       'Aseer', 'Las vegas', 'Casablanca', 'Asyut', 'Paris', 'Jeddah',
       'New york', 'Damascus', 'Dubai', 'Dammam', 'Fujairah'],
      dtype=object)

In [35]:
df['City'].value_counts()#كل عنصر فى العمود اتكرر كام مره

City
Jeddah        3186
Abu dhabi     2271
New york      2098
Riyadh        1540
Cairo         1410
Las vegas     1294
Aleppo        1157
Paris         1125
Asyut         1066
Aseer          860
Washington     834
Homs           784
Damascus       690
Casablanca     607
Dammam         491
Dubai          451
Fujairah       136
Name: count, dtype: int64

In [36]:
df.groupby('Country').size()#نفس الكود الى فات لكن الفرق ان احنا ممكن نحط كزا عمود نعد على اساسه

Country
Egypt                   2476
France                  1125
Morocco                  607
Saudi Arabia            6077
Syria                   2631
USA                     4226
United Arab Emirates    2858
dtype: int64

In [37]:
df.groupby(['Country','City']).size()#الفرق انى حطيتهم فى ليست بس

Country               City
Egypt                 Asyut         1066
                      Cairo         1410
France                Paris         1125
Morocco               Casablanca     607
Saudi Arabia          Aseer          860
                      Dammam         491
                      Jeddah        3186
                      Riyadh        1540
Syria                 Aleppo        1157
                      Damascus       690
                      Homs           784
USA                   Las vegas     1294
                      New york      2098
                      Washington     834
United Arab Emirates  Abu dhabi     2271
                      Dubai          451
                      Fujairah       136
dtype: int64

In [39]:
df.groupby(['Country','City']).sum()

                                   Order ID  \
Country              City
Egypt                Asyut       10565438.0
                     Cairo       14103516.0
France               Paris       11354058.0
Morocco              Casablanca   6020059.0
Saudi Arabia         Aseer        8450209.0
                     Dammam       5111361.0
                     Jeddah      31639689.0
                     Riyadh      15445612.0
Syria                Aleppo      11899180.0
                     Damascus     6800343.0
                     Homs         7788159.0
USA                  Las vegas   13072221.0
                     New york    20883667.0
                     Washington   8229922.0
United Arab Emirates Abu dhabi   22785092.0
                     Dubai        4572982.0
                     Fujairah     1288492.0

                                                                        Order Date  \
Country              City
Egypt                Asyut       1/1/20231/1/20232/1/20232/1/20232/1/20232/1/20...
                     Cairo       1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
France               Paris       1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
Morocco              Casablanca  1/1/20231/1/20231/1/20231/1/20233/1/20233/1/20...
Saudi Arabia         Aseer       1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
                     Dammam      1/1/20231/1/20231/1/20232/1/20232/1/20233/1/20...
                     Jeddah      1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
                     Riyadh      1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
Syria                Aleppo      1/1/20231/1/20231/1/20231/1/20232/1/20232/1/20...
                     Damascus    1/1/20231/1/20231/1/20231/1/20232/1/20232/1/20...
                     Homs        1/1/20231/1/20232/1/20232/1/20232/1/20232/1/20...
USA                  Las vegas   1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
                     New york    1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
                     Washington  1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
United Arab Emirates Abu dhabi   1/1/20231/1/20231/1/20231/1/20231/1/20231/1/20...
                     Dubai       1/1/20231/1/20231/1/20231/1/20231/1/20232/1/20...
                     Fujairah    3/1/20233/1/20236/1/20236/1/20237/1/20237/1/20...

                                                                            Branch  \
Country              City
Egypt                Asyut       AT01AT01AT01AT01AT01AT01AT01AT01AT01AT01AT01AT...
                     Cairo       CR02CR03CR01CR02CR02CR03CR02CR02CR02CR03CR02CR...
France               Paris       PS01PS01PS01PS01PS01PS01PS01PS01PS02PS02PS01PS...
Morocco              Casablanca  CS01CS01CS01CS01CS01CS01CS01CS01CS01CS01CS01CS...
Saudi Arabia         Aseer       AS01AS01AS01AS01AS01AS01AS01AS01AS01AS01AS01AS...
                     Dammam      DM01DM01DM01DM01DM01DM01DM01DM01DM01DM01DM01DM...
                     Jeddah      JD01JD02JD02JD01JD01JD03JD02JD03JD02JD03JD01JD...
                     Riyadh      RD01RD03RD01RD01RD02RD01RD01RD01RD01RD01RD03RD...
Syria                Aleppo      AL01AL01AL01AL01AL01AL01AL01AL01AL01AL01AL01AL...
                     Damascus    DS02DS02DS02DS02DS02DS01DS01DS02DS01DS02DS02DS...
                     Homs        HS01HS01HS01HS01HS01HS01HS01HS01HS01HS01HS01HS...
USA                  Las vegas   LV01LV01LV01LV01LV01LV01LV01LV01LV01LV01LV01LV...
                     New york    NY03NY03NY01NY03NY01NY03NY01NY02NY03NY03NY01NY...
                     Washington  WH01WH01WH01WH01WH01WH01WH01WH01WH01WH01WH01WH...
United Arab Emirates Abu dhabi   AD01AD01AD02AD01AD02AD02AD02AD02AD03AD03AD02AD...
                     Dubai       DB01DB01DB02DB02DB02DB02DB02DB02DB02DB01DB02DB...
                     Fujairah    FJ01FJ01FJ01FJ01FJ01FJ01FJ01FJ01FJ01FJ01FJ01FJ...

                                                                            Brcode  \
Country              City
Egypt                Asyut       ATATATATATATATATATATATATATATATATATATATATATATAT...
                     Cairo       CRCRCRCRCRCRCRCRCRCRCRCRCRCRCRCRCRCRCRCRCRCRCR...
France               Paris       PSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPSPS...
Morocco              Casablanca  CSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCSCS...
Saudi Arabia         Aseer       ASASASASASASASASASASASASASASASASASASASASASASAS...
                     Dammam      DMDMDMDMDMDMDMDMDMDMDMDMDMDMDMDMDMDMDMDMDMDMDM...
                     Jeddah      JDJDJDJDJDJDJDJDJDJDJDJDJDJDJDJDJDJDJDJDJDJDJD...
                     Riyadh      RDRDRDRDRDRDRDRDRDRDRDRDRDRDRDRDRDRDRDRDRDRDRD...
Syria                Aleppo      ALALALALALALALALALALALALALALALALALALALALALALAL...
                     Damascus    DSDSDSDSDSDSDSDSDSDSDSDSDSDSDSDSDSDSDSDSDSDSDS...
                     Homs        HSHSHSHSHSHSHSHSHSHSHSHSHSHSHSHSHSHSHSHSHSHSHS...
USA                  Las vegas   LVLVLVLVLVLVLVLVLVLVLVLVLVLVLVLVLVLVLVLVLVLVLV...
                     New york    NYNYNYNYNYNYNYNYNYNYNYNYNYNYNYNYNYNYNYNYNYNYNY...
                     Washington  WHWHWHWHWHWHWHWHWHWHWHWHWHWHWHWHWHWHWHWHWHWHWH...
United Arab Emirates Abu dhabi   ADADADADADADADADADADADADADADADADADADADADADADAD...
                     Dubai       DBDBDBDBDBDBDBDBDBDBDBDBDBDBDBDBDBDBDBDBDBDBDB...
                     Fujairah    FJFJFJFJFJFJFJFJFJFJFJFJFJFJFJFJFJFJFJFJFJFJFJ...

                                        Lat          Lng  \
Country              City
Egypt                Asyut       28974.8394   33241.8242
                     Cairo       42362.6040   44042.3370
France               Paris       54963.6750    2646.2250
Morocco              Casablanca  20378.8717    4607.0086
Saudi Arabia         Aseer       15678.7460   36550.3440
                     Dammam      12958.8157   24539.0507
                     Jeddah      68520.6313  124844.3939
                     Riyadh      38103.1943   71926.1077
Syria                Aleppo      41885.8297   42964.3851
                     Damascus    23124.9764   25048.9042
                     Homs        27230.3584   28783.4624
USA                  Las vegas   46803.5620 -148991.9446
                     New york    85458.4566 -155238.8512
                     Washington  32448.6048  -64248.7746
United Arab Emirates Abu dhabi   55555.2819  123484.6603
                     Dubai       11367.3648   24927.1308
                     Fujairah     3417.4896    7660.0912

                                                               Customer First Name  \
Country              City
Egypt                Asyut       saharramafarasjamaldieaiilyasmahirhusayndianah...
                     Cairo       muhamadealaabd allatifhusam aldiynhusammazinsu...
France               Paris       muhamadmuhamadaliasramajdylamarimlamaailyamuha...
Morocco              Casablanca  shahadlwymarijihadkhadijahzayduneubaydamuhamad...
Saudi Arabia         Aseer       fadiakthumemaraduhanaemammahirduhanamazinealaa...
                     Dammam      omarayhamkhalilantuanehabbakrmuhamadalidiaahma...
                     Jeddah      muhamadmuhamadalaalilasfaraslwnatariqmuhamadah...
                     Riyadh      omarimanamirafadikhalidlanasabahabd alrazzaqra...
Syria                Aleppo      ahedhusaynsalamrimmuhamadmuhamadthamirmuhamadl...
                     Damascus    alialaazaynalmuetazramilwyranyaayhamranaahmada...
                     Homs        linaduhanatanamuwmindijwarahmadomarfadimazinhu...
USA                  Las vegas   muhamadmuhamadomarrwbynalamamuwminahmadrabye'm...
                     New york    muhamadmuwminmuhamadrahafkhalidfullasalimkhali...
                     Washington  samizahirmajidanwartariqabd alruhminjalaljuryr...
United Arab Emirates Abu dhabi   ahmadmuhamadrwbynajwnymajdabd alruhminhasandie...
                     Dubai       iintariqfarasmuhamadsanduranaiinmuhamadmuhamad...
                     Fujairah    muhamadmujdirazaanrabyamuhamadalmuthanaamumina...

                                                                Customer Last Name  \
Country              City
Egypt                Asyut       kharasahmaerufhamuwdsybeamuayidalshaykhalkhayr...
                     Cairo       bitahishaljabaanalghandurallahamearabiaymanalh...
France               Paris       zaetarmuayidkiwanabualqadihadalahalmisribrnbua...
Morocco              Casablanca  eyd bndqjyalhasanaleisaamaerufklizlialmisrialk...
Saudi Arabia         Aseer       aljabaanhaydarshiahalmalaqisamaljujualhabisalk...
                     Dammam      dawaraalmalatyrueurmanalghumyanklizlimiuseashu...
                     Jeddah      bydeurmandwalybyaghasieazizakhalifihalmisrialk...
                     Riyadh      euruliismaeilalrahilahmaddbshujahqaziyhanunaju...
Syria                Aleppo      salimeubaydalhizaehamdanaleabdiidlibieisaamuha...
                     Damascus    iismaeilaleaqlabwalsibaehmshwhujahalealbieitay...
                     Homs        alrrashidaljabralmalahannawataralhasaneuthmana...
USA                  Las vegas   eurmanalaleppoyzynyqisamaldiynaltaynawijamulab...
                     New york    zaqzuqalsamanshbybiybwabuearabiastitiheilwanty...
                     Washington  altawilalmunajidhishanalayaaymanmalikhajlkhali...
United Arab Emirates Abu dhabi   rihanzawalsalhanyalrifaeieilwanalaishhabkhalfs...
                     Dubai       kafaaldiynabu eadlhbradeyalrifaeialghazizakari...
                     Fujairah    mukiinabu zamilabwnqatakarimebdalwahdsakareata...

                                                                Customer Full Name  \
Country              City
Egypt                Asyut       Sahar KharasahRama MaerufFaras HamuwdJamal Syb...
                     Cairo       Muhamad BitahishEala AljabaanAbd Allatif Algha...
France               Paris       Muhamad ZaetarMuhamad MuayidAli KiwanAsra AbuM...
Morocco              Casablanca  Shahad Eyd BndqjyLwy AlhasanMari AleisaaJihad ...
Saudi Arabia         Aseer       Fadi AljabaanAkthum HaydarEmara ShiahDuhana Al...
                     Dammam      Omar DawaraAyham AlmalaKhalil TyruAntuan Eurma...
                     Jeddah      Muhamad BydMuhamad EurmanAlaa DwalybyLilas Agh...
                     Riyadh      Omar EurulIman IismaeilAmira AlrahilFadi Ahmad...
Syria                Aleppo      Ahed SalimHusayn EubaydSalam AlhizaeRim Hamdan...
                     Damascus    Ali IismaeilAlaa AleaqlaZayn BwalsibaeAlmuetaz...
                     Homs        Lina AlrrashidDuhana AljabrTana AlmalaMuwmin H...
USA                  Las vegas   Muhamad EurmanMuhamad AlaleppoyOmar ZynyRwbyna...
                     New york    Muhamad ZaqzuqMuwmin AlsamanMuhamad ShbybRahaf...
                     Washington  Sami AltawilZahir AlmunajidMajid HishanAnwar A...
United Arab Emirates Abu dhabi   Ahmad RihanMuhamad ZawalRwbyna SalhanyJwny Alr...
                     Dubai       Iin KafaTariq AldiynFaras Abu EadlhMuhamad Bra...
                     Fujairah    Muhamad MukiinMujdi Abu ZamilRazaan AbwnqataRa...

                                                                             Email  \
Country              City
Egypt                Asyut       sahar.kharasah@mail.comrama.maeruf@mail.comfar...
                     Cairo       muhamad.bitahish@mail.comeala.aljabaan@mail.co...
France               Paris       muhamad.zaetar@mail.commuhamad.muayid@mail.com...
Morocco              Casablanca  shahad.eyd bndqjy@mail.comlwy.alhasan@mail.com...
Saudi Arabia         Aseer       fadi.aljabaan@mail.comakthum.haydar@mail.comem...
                     Dammam      omar.dawara@mail.comayham.almala@mail.comkhali...
                     Jeddah      muhamad.byd@mail.commuhamad.eurman@mail.comala...
                     Riyadh      omar.eurul@mail.comiman.iismaeil@mail.comamira...
Syria                Aleppo      ahed.salim@mail.comhusayn.eubayd@mail.comsalam...
                     Damascus    ali.iismaeil@mail.comalaa.aleaqla@mail.comzayn...
                     Homs        lina.alrrashid@mail.comduhana.aljabr@mail.comt...
USA                  Las vegas   muhamad.eurman@mail.commuhamad.alaleppoy@mail....
                     New york    muhamad.zaqzuq@mail.commuwmin.alsaman@mail.com...
                     Washington  sami.altawil@mail.comzahir.almunajid@mail.comm...
United Arab Emirates Abu dhabi   ahmad.rihan@mail.commuhamad.zawal@mail.comrwby...
                     Dubai       iin.kafa@mail.comtariq.aldiyn@mail.comfaras.ab...
                     Fujairah    muhamad.mukiin@mail.commujdi.abu zamil@mail.co...

                                                                      Phone Number  \
Country              City
Egypt                Asyut       5074545757580926205358528256295517090877507305...
                     Cairo       5705221103572508130056475340565345184897508909...
France               Paris       5891898352514262489051228178465037538145506740...
Morocco              Casablanca  5066425618512483570752520412395616554637559064...
Saudi Arabia         Aseer       5271157029564921789555358806715538116114537491...
                     Dammam      5883193232575953175956436568315331028196550563...
                     Jeddah      5326430239510746869057151670655277786111525476...
                     Riyadh      5311455624527274077756534671095923514383564995...
Syria                Aleppo      5277356213571536974059921660095420204828587837...
                     Damascus    5835136476587560334458970506895967938548512390...
                     Homs        5634962795583382264759795959635261604536599036...
USA                  Las vegas   5011035056552055886952412505565005862331545127...
                     New york    5064468564511478363154888921885491607554564102...
                     Washington  5352774687515156582656166155425196386412564137...
United Arab Emirates Abu dhabi   5783343440508074866650370622575073584006566424...
                     Dubai       5315580289517700984952027100655416347570563951...
                     Fujairah    5283743578536616168154398101495330418930536315...

                                                                          Category  \
Country              City
Egypt                Asyut       TabletHeadphonesDigital CameraDigital CameraFi...
                     Cairo       HeadphonesLaptopTabletTabletSmartphoneSmart Sp...
France               Paris       HeadphonesSmartphoneFitness TrackerSmartwatchS...
Morocco              Casablanca  SmartwatchVR HeadsetFitness TrackerSmartphoneL...
Saudi Arabia         Aseer       LaptopDigital CameraFitness TrackerTabletGamin...
                     Dammam      VR HeadsetDigital CameraSmartphoneGaming Conso...
                     Jeddah      TabletSmartwatchTabletLaptopLaptopFitness Trac...
                     Riyadh      SmartphoneDigital CameraDigital CameraVR Heads...
Syria                Aleppo      SmartwatchDigital CameraSmartwatchSmartwatchLa...
                     Damascus    LaptopLaptopSmartwatchDigital CameraSmartwatch...
                     Homs        TabletHeadphonesVR HeadsetFitness TrackerSmart...
USA                  Las vegas   SmartwatchHeadphonesLaptopGaming ConsoleLaptop...
                     New york    HeadphonesHeadphonesSmartphoneDigital CameraLa...
                     Washington  HeadphonesSmart SpeakerTabletFitness TrackerLa...
United Arab Emirates Abu dhabi   TabletTabletHeadphonesLaptopHeadphonesSmartwat...
                     Dubai       Smart SpeakerSmart SpeakerTabletSmartphoneSmar...
                     Fujairah    HeadphonesSmart SpeakerLaptopDigital CameraHea...

                                                                      Sub Category  \
Country              City
Egypt                Asyut       Amazon FireBose QuietComfortSony AlphaNikon Z ...
                     Cairo       Anker SoundcoreLenovo LegionSamsung Galaxy Tab...
France               Paris       Sennheiser HDOnePlusFitbit VersaHuawei WatchXi...
Morocco              Casablanca  Garmin FenixHP Reverb G2 OmniceptWithings Move...
Saudi Arabia         Aseer       HP EnvySony Cyber-shotFitbit VersaAmazon Fire ...
                     Dammam      HTC ViveNikon CoolpixOnePlusSony PlayStationSo...
                     Jeddah      Lenovo TabHuawei WatchSamsung Galaxy TabHP Pav...
                     Riyadh      Samsung GalaxyPanasonic LumixPanasonic LumixOc...
Syria                Aleppo      Garmin FenixSony AlphaHuawei WatchSamsung Gala...
                     Damascus    Apple MacBookASUS ROGGarmin VenuNikon CoolpixG...
                     Homs        Apple iPadAnker SoundcoreHTC ViveAmazfit GTRHa...
USA                  Las vegas   Fossil GenBose QuietComfortASUS ROGSony PlaySt...
                     New york    JBL LiveAnker SoundcoreSamsung GalaxyFujifilm ...
                     Washington  Sennheiser HDApple HomePodSamsung Galaxy Tab S...
United Arab Emirates Abu dhabi   Samsung Galaxy TabSamsung Galaxy TabSony WHLen...
                     Dubai       Google NestSonos OneAmazon FireSamsung GalaxyA...
                     Fujairah    Bose QuietComfortJBL LinkHP PavilionNikon Z Se...

                                                                              Item  \
Country              City
Egypt                Asyut          Amazon Fire 7 QC35 IISony Alpha A6400Nikon ...
                     Cairo       Anker   Soundcore   Liberty   Air   2   Pro   ...
France               Paris        Sennheiser HD 660S  OnePlus  10  Pro  Fitbit ...
Morocco              Casablanca   Garmin   Fenix   7HP Reverb G2 OmniceptWithin...
Saudi Arabia         Aseer         Envy   x360  Sony  Cyber-shot  RX100  VII   ...
                     Dammam      HTC Vive Cosmos EliteNikon Coolpix P1000OnePlu...
                     Jeddah      Lenovo Tab M10 FHD Plus   Huawei Watch GT 3 Pr...
                     Riyadh      Galaxy  S21  Ultra  Panasonic Lumix GH5 Panaso...
Syria                Aleppo       Garmin   Fenix   6S   Sony Alpha A6400Huawei ...
                     Damascus       MacBook   Air   13"   ASUS ROG Zephyrus G14...
                     Homs          iPad   Pro   12.9" Anker Soundcore Liberty A...
USA                  Las vegas     Fossil Gen 5E  QC35 IIASUS ROG Strix Scar 17...
                     New york       JBL Live 500BT Anker Soundcore Liberty Air ...
                     Washington   Sennheiser   HD   450BT  Apple  HomePod  mini...
United Arab Emirates Abu dhabi    Galaxy Tab A8   Galaxy  Tab  A7 Sony   WH-CH7...
                     Dubai       Nest AudioSonos MoveAmazon Fire 7Galaxy S21 Ul...
                     Fujairah    QC45JBL Link 20HP Pavilion x360Nikon Z7 IIBose...

                                                                    SalesPerson ID  \
Country              City
Egypt                Asyut       G449N658B265C787H016G267F064Y449H868E663K492R5...
                     Cairo       R389B541U983J431L025X358F340P344O247Y247L841E3...
France               Paris       S691W336V236U646Y270E365C793U290I470X906C780E4...
Morocco              Casablanca  G033Y940J408J345R664Y989Q903N664F693V138L043B2...
Saudi Arabia         Aseer       I974S783X209J264E715X610J753N985B112L571T371V3...
                     Dammam      Z502C787P255I917L700C308P826D873Q963T351S735W2...
                     Jeddah      D241H574R660L700Z227Y998Y446H574J345Z764N969M1...
                     Riyadh      X918I036S190O247R252S501D873F792D873K406S855R8...
Syria                Aleppo      J431K923S348Y518N639R236Y998Z524F693R389T332Y2...
                     Damascus    U470L106H016S395E437X915X847S988R159H320Y720R8...
                     Homs        N498X906G599X358W243Y493Y270Z398J431D297V236T3...
USA                  Las vegas   N710W242X358S190I738L106K012R426G557L106U470Y3...
                     New york    J345Q832F510W493U646S855E804Z612L028E365J345E1...
                     Washington  Q149R236L106R021J073Y590C793W206K406J501Q963J0...
United Arab Emirates Abu dhabi   E804T351H632P653Z764X856S149Y958B715M073I838I7...

In [42]:
#هنا جبت الصنف وانواعه وكل نوع سعره كام
df.groupby(['Category','Sub Category'])['Cost'].sum()

Category        Sub Category
Digital Camera  Canon EOS              553519.0
                Canon EOS R Series    1049868.0
                Fujifilm X Series      657376.0
                Nikon Coolpix          262854.0
                Nikon Z Series         558620.0
                                        ...
VR Headset      Oculus Rift S           81337.0
                Pimax Vision           608772.0
                Samsung Odyssey        343271.0
                Sony PlayStation        52923.0
                Valve Index            440199.0
Name: Cost, Length: 81, dtype: float64

In [44]:
#لو عايز كل عمود بعملية معينه
df.groupby(['Category','Sub Category']).agg({'Quantity':'sum','Unit Price':'mean','Cost':'sum'})

                                   Quantity   Unit Price       Cost
Category       Sub Category
Digital Camera Canon EOS              431.0  1411.719298   553519.0
               Canon EOS R Series     432.0  2611.149533  1049868.0
               Fujifilm X Series      424.0  1543.351464   657376.0
               Nikon Coolpix          396.0   627.605769   262854.0
               Nikon Z Series         380.0  1588.099526   558620.0
...                                     ...          ...        ...
VR Headset     Oculus Rift S          163.0   499.000000    81337.0
               Pimax Vision           628.0   968.648562   608772.0
               Samsung Odyssey        229.0  1499.000000   343271.0
               Sony PlayStation       177.0   299.000000    52923.0
               Valve Index            401.0  1094.652174   440199.0

[81 rows x 3 columns]

In [46]:
#مجموع كميات الاصناف فى كل بلد 
df.pivot_table(index='Country',columns='Category',values='Quantity',aggfunc='sum')

Category,Digital Camera,Fitness Tracker,Gaming Console,Headphones,Laptop,Smart Speaker,Smartphone,Smartwatch,Tablet,VR Headset
Country,,,,,,,,,,
Egypt,421.0,409.0,526.0,514.0,590.0,408.0,474.0,398.0,430.0,487.0
France,208.0,194.0,258.0,190.0,267.0,193.0,236.0,186.0,294.0,175.0
Morocco,112.0,130.0,76.0,95.0,147.0,133.0,138.0,128.0,97.0,123.0
Saudi Arabia,1210.0,1151.0,1193.0,1164.0,1332.0,1152.0,1203.0,1079.0,1209.0,1101.0
Syria,462.0,512.0,434.0,516.0,516.0,504.0,503.0,457.0,561.0,498.0
USA,730.0,825.0,791.0,792.0,951.0,701.0,909.0,867.0,891.0,835.0
United Arab Emirates,486.0,510.0,537.0,526.0,681.0,596.0,540.0,479.0,687.0,607.0

In [47]:
df.pivot_table(index='Country',columns='Category',values='Quantity',aggfunc=('sum' , 'mean'))

                               mean                                            \
Category             Digital Camera Fitness Tracker Gaming Console Headphones
Country
Egypt                      1.822511        1.740426       2.112450   2.080972
France                     1.873874        1.658120       2.324324   2.065217
Morocco                    2.074074        2.166667       1.583333   1.666667
Saudi Arabia               1.923688        2.081374       2.042808   1.976231
Syria                      1.933054        2.039841       1.757085   1.890110
USA                        1.857506        1.987952       1.839535   1.970149
United Arab Emirates       1.760870        1.931818       1.864583   1.905797

                                                                              \
Category                Laptop Smart Speaker Smartphone Smartwatch    Tablet
Country
Egypt                 2.027491      1.773913   1.692857   1.761062  1.769547
France                2.321739      1.855769   1.950413   1.646018  2.000000
Morocco               1.860759      2.418182   2.123077   1.910448  1.830189
Saudi Arabia          2.071540      1.849117   1.968903   1.906360  1.842988
Syria                 1.904059      1.968750   1.758741   1.813492  1.908163
USA                   1.964876      1.825521   2.038117   2.178392  2.067285
United Arab Emirates  2.348276      2.076655   1.914894   1.767528  2.038576

                                           sum                                 \
Category             VR Headset Digital Camera Fitness Tracker Gaming Console
Country
Egypt                  1.995902          421.0           409.0          526.0
France                 1.861702          208.0           194.0          258.0
Morocco                1.782609          112.0           130.0           76.0
Saudi Arabia           1.767255         1210.0          1151.0         1193.0
Syria                  1.900763          462.0           512.0          434.0
USA                    1.884876          730.0           825.0          791.0
United Arab Emirates   2.114983          486.0           510.0          537.0

                                                                             \
Category             Headphones  Laptop Smart Speaker Smartphone Smartwatch
Country
Egypt                     514.0   590.0         408.0      474.0      398.0
France                    190.0   267.0         193.0      236.0      186.0
Morocco                    95.0   147.0         133.0      138.0      128.0
Saudi Arabia             1164.0  1332.0        1152.0     1203.0     1079.0
Syria                     516.0   516.0         504.0      503.0      457.0
USA                       792.0   951.0         701.0      909.0      867.0
United Arab Emirates      526.0   681.0         596.0      540.0      479.0


Category              Tablet VR Headset
Country
Egypt                  430.0      487.0
France                 294.0      175.0
Morocco                 97.0      123.0
Saudi Arabia          1209.0     1101.0
Syria                  561.0      498.0
USA                    891.0      835.0
United Arab Emirates   687.0      607.0