In [14]:
import pandas as pd
import numpy as np

In [15]:
pd.read_csv(r"C:\Users\mhmd\Downloads\Edit data\Orders.csv" , skiprows = 4)#هنا لو فيه اربع صفوف مش معانا هيسكيييب ومش هياخدهم

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,AHMAD.IAD@MAIL.COM,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [16]:
df=pd.read_csv(r"C:\Users\mhmd\Downloads\Edit data\Orders.csv" , skiprows = 4)

df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,AHMAD.IAD@MAIL.COM,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20004 entries, 0 to 20003
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Order ID             20000 non-null  float64
 1   Order Date           20000 non-null  object
 2   Country              20000 non-null  object
 3   City                 20000 non-null  object
 4   Branch               20000 non-null  object
 5   Lat                  20000 non-null  float64
 6   Lng                  20000 non-null  float64
 7   Customer First Name  20000 non-null  object
 8   Customer Last Name   20000 non-null  object
 9   Email                20000 non-null  object
 10  Phone Number         20000 non-null  object
 11  Category             20000 non-null  object
 12  Sub Category         20000 non-null  object
 13  Item                 20000 non-null  object
 14  SalesPerson ID       20000 non-null  object
 15  Quantity             20000 non-null  float64
 16  Unit Price           20000 non-null  float64
 17  Discount             18889 non-null  float64
 18  Status               20000 non-null  object
dtypes: float64(6), object(13)
memory usage: 2.9+ MB

In [18]:
df.dropna()#شال كل ريكورد فارغ او فى قيمة واحدة من اي عمود فارغة

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,sami,altawil,Sami.altawil@mail.com,Tel: 5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
6,6.0,1/1/2023,Syria,aleppo,al01,36.2021,37.1343,ahed,salim,Ahed.salim@mail.com,Tel: 5277356213,Smartwatch,Garmin Fenix,Garmin Fenix 6S,J431,1.0,499.0,4.99,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,AHMAD.IAD@MAIL.COM,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [19]:
df.dropna(how="all" )#كدا لازم يكون الصف كلة فارغ مش قيمة واحدة

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,sami,altawil,Sami.altawil@mail.com,Tel: 5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,AHMAD.IAD@MAIL.COM,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [25]:
df.dropna(how="all",inplace = True )

In [26]:
df[df['Status']==True]

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,sami,altawil,Sami.altawil@mail.com,Tel: 5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
6,6.0,1/1/2023,Syria,aleppo,al01,36.2021,37.1343,ahed,salim,Ahed.salim@mail.com,Tel: 5277356213,Smartwatch,Garmin Fenix,Garmin Fenix 6S,J431,1.0,499.0,4.99,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,AHMAD.IAD@MAIL.COM,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [27]:
df.query('Status==False')

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
9,8.0,1/1/2023,Egypt,cairo,cr02,30.0444,31.2357,muhamad,bitahish,MUHAMAD.BITAHISH@MAIL.COM,Tel: 5705221103,Headphones,Anker Soundcore,Anker Soundcore Liberty Air 2 Pro,R389,1.0,99.0,0.99,False
20,19.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,fadi,ahmad,FADI.AHMAD@MAIL.COM,Tel: 5923514383,VR Headset,Oculus Rift,Oculus Rift S,O247,1.0,399.0,7.98,False
21,20.0,1/1/2023,Saudi Arabia,riyadh,rd02,24.7743,46.7386,khalid,dbs,Khalid.dbs@mail.com,Tel: 5649954933,Headphones,Anker Soundcore,Anker Soundcore Life Q35,R252,3.0,129.0,7.74,False
23,22.0,1/1/2023,USA,new york,ny03,40.7498,-73.9814,muhamad,zaqzuq,MUHAMAD.ZAQZUQ@MAIL.COM,Tel: 5064468564,Headphones,JBL Live,JBL Live 500BT,J345,1.0,99.0,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19990,19987.0,1/9/2023,Egypt,asyut,at01,27.1809,31.1837,ismaeil,alhumwi,Ismaeil.alhumwi@mail.com,Tel: 5921522563,Laptop,HP Pavilion,HP Pavilion 15,H520,1.0,799.0,55.93,False
19991,19988.0,1/9/2023,Saudi Arabia,riyadh,rd02,24.7743,46.7386,muhamad,eurman,Muhamad.eurman@mail.com,Tel: 5917144532,Tablet,Lenovo Tab,Lenovo Tab P11 Pro,I036,1.0,499.0,49.90,False
19994,19991.0,1/9/2023,Saudi Arabia,jeddah,jd01,21.5433,39.1728,ghada,sharaf,Ghada.sharaf@mail.com,Tel: 5741152379,Tablet,Microsoft Surface,Surface Pro 7,Y247,1.0,799.0,31.96,False
19995,19992.0,1/9/2023,Egypt,asyut,at01,27.1809,31.1837,alaa,khayti,ALAA.KHAYTI@MAIL.COM,Tel: 5988794216,Smartwatch,Garmin Fenix,Garmin Fenix 6S,C068,1.0,499.0,14.97,False
19996,19993.0,1/9/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ali,muhamad,ALI.MUHAMAD@MAIL.COM,Tel: 5419131483,Smart Speaker,JBL Link,JBL Link 500,Y958,1.0,249.0,7.47,False

In [28]:
df[df['Country']=='Saudi Arabia']

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
7,7.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,amira,alrahil,AMIRA.ALRAHIL@MAIL.COM,Tel: 5653467109,Digital Camera,Panasonic Lumix,Panasonic Lumix S1H,S190,1.0,3499.0,209.94,True
10,9.0,1/1/2023,Saudi Arabia,aseer,as01,18.2311,42.5004,fadi,aljabaan,Fadi.aljabaan@mail.com,Tel: 5271157029,Laptop,HP Envy,Envy x360,I974,1.0,899.0,NaN,True
19,18.0,1/1/2023,Saudi Arabia,jeddah,jd01,21.5433,39.1728,muhamad,byd,muhamad.byd@mail.com,Tel: 5326430239,Tablet,Lenovo Tab,Lenovo Tab M10 FHD Plus,D241,1.0,229.0,16.03,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19989,19986.0,1/9/2023,Saudi Arabia,aseer,as01,18.2311,42.5004,bisam,abu zamil,bisam.abu zamil@mail.com,Tel: 5176296817,Smartwatch,Fossil Gen,Fossil Gen 6,K006,1.0,299.0,20.93,True
19991,19988.0,1/9/2023,Saudi Arabia,riyadh,rd02,24.7743,46.7386,muhamad,eurman,Muhamad.eurman@mail.com,Tel: 5917144532,Tablet,Lenovo Tab,Lenovo Tab P11 Pro,I036,1.0,499.0,49.90,False
19993,19990.0,1/9/2023,Saudi Arabia,jeddah,jd01,21.5433,39.1728,ayman,iismaeil,AYMAN.IISMAEIL@MAIL.COM,Tel: 5123023498,Digital Camera,Canon EOS R Series,Canon EOS R5,O765,2.0,3999.0,479.88,True
19994,19991.0,1/9/2023,Saudi Arabia,jeddah,jd01,21.5433,39.1728,ghada,sharaf,Ghada.sharaf@mail.com,Tel: 5741152379,Tablet,Microsoft Surface,Surface Pro 7,Y247,1.0,799.0,31.96,False
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True

In [30]:
df[(df['Country']=='Saudi Arabia') & (df['Quantity']>10)]

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
83,80.0,1/1/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,bidralidin,zakianiin,BIDRALIDIN.ZAKIANIIN@MAIL.COM,Tel: 5601517756,Smartphone,Apple iPhone,iPhone SE,Z764,13.0,399.0,414.96,True
343,340.0,5/1/2023,Saudi Arabia,jeddah,jd02,21.4858,39.1925,tahani,rashwani,TAHANI.RASHWANI@MAIL.COM,Tel: 5415249880,Laptop,HP Envy,Envy x360,B259,11.0,899.0,98.89,True
429,426.0,6/1/2023,Saudi Arabia,aseer,as01,18.2311,42.5004,muhamad,abu taqih,muhamad.abu taqih@mail.com,Tel: 5658320090,Laptop,ASUS ROG,ASUS ROG Flow Z13,F344,12.0,2499.0,1499.40,True
464,461.0,6/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,muhamad,abu,Muhamad.abu@mail.com,Tel: 5837605965,Smart Speaker,Google Nest,Nest Hub (2nd Gen),K406,11.0,99.0,65.34,False
497,494.0,7/1/2023,Saudi Arabia,jeddah,jd02,21.4858,39.1925,sandurana,alsiraj,sandurana.alsiraj@mail.com,Tel: 5217816367,Laptop,Acer Swift,Acer Swift 5,X364,13.0,999.0,259.74,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19618,19615.0,28/8/2023,Saudi Arabia,jeddah,jd02,21.4858,39.1925,muhamad,qadimati,muhamad.qadimati@mail.com,Tel: 5326757975,Tablet,Amazon Fire,Amazon Fire 7,J730,11.0,49.0,32.34,True
19653,19650.0,28/8/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,eala,qdw,Eala.qdw@mail.com,Tel: 5916998815,Gaming Console,Nintendo Switch,Nintendo Switch Lite,C780,13.0,199.0,206.96,True
19710,19707.0,29/8/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fayaruz,dib,Fayaruz.dib@mail.com,Tel: 5618717413,Tablet,Microsoft Surface,Surface Pro 7,T231,11.0,799.0,439.45,True
19753,19750.0,29/8/2023,Saudi Arabia,dammam,dm01,26.3927,49.9777,jamal,qulumih,JAMAL.QULUMIH@MAIL.COM,Tel: 5911407476,Fitness Tracker,Fitbit Versa,Fitbit Versa 2,S243,12.0,179.0,171.84,True
19987,19984.0,1/9/2023,Saudi Arabia,jeddah,jd02,21.4858,39.1925,ruyda,nahlawi,RUYDA.NAHLAWI@MAIL.COM,Tel: 5734773623,Headphones,Bose SoundSport,Bose SoundSport Free,Y332,12.0,179.0,42.96,True

In [31]:
df[(df['Category']=='Laptop') | (df['Category']=='Smartphone')]

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
10,9.0,1/1/2023,Saudi Arabia,aseer,as01,18.2311,42.5004,fadi,aljabaan,Fadi.aljabaan@mail.com,Tel: 5271157029,Laptop,HP Envy,Envy x360,I974,1.0,899.0,NaN,True
12,11.0,1/1/2023,Egypt,cairo,cr03,30.0444,31.2357,eala,aljabaan,Eala.aljabaan@mail.com,Tel: 5725081300,Laptop,Lenovo Legion,Lenovo Legion 5,B541,3.0,1099.0,NaN,True
26,25.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,jwny,alrifaei,jwny.alrifaei@mail.com,Tel: 5073584006,Laptop,Lenovo Legion,Lenovo Legion 5,P653,3.0,1099.0,32.97,True
27,26.0,1/1/2023,Syria,damascus,ds02,33.5146,36.3084,ali,iismaeil,ALI.IISMAEIL@MAIL.COM,Tel: 5835136476,Laptop,Apple MacBook,"MacBook Air 13""",U470,1.0,999.0,79.92,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19973,19970.0,1/9/2023,USA,new york,ny03,40.7498,-73.9814,shyryn,sharfah,shyryn.sharfah@mail.com,Tel: 5733756835,Smartphone,Samsung Galaxy,Galaxy Z Fold 3,S691,2.0,1799.0,35.98,True
19977,19974.0,1/9/2023,USA,new york,ny01,40.7128,-74.0060,omar,alhasan,OMAR.ALHASAN@MAIL.COM,Tel: 5841740690,Laptop,HP Envy,Envy x360,J860,3.0,899.0,53.94,True
19983,19980.0,1/9/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,abd alruhmin,alnasar,abd alruhmin.alnasar@mail.com,Tel: 5079428018,Smartphone,Apple iPhone,iPhone 13 Pro Max,V339,1.0,1299.0,90.93,True
19990,19987.0,1/9/2023,Egypt,asyut,at01,27.1809,31.1837,ismaeil,alhumwi,Ismaeil.alhumwi@mail.com,Tel: 5921522563,Laptop,HP Pavilion,HP Pavilion 15,H520,1.0,799.0,55.93,False
19992,19989.0,1/9/2023,Syria,damascus,ds02,33.5146,36.3084,amir,aleass,Amir.aleass@mail.com,Tel: 5341230854,Laptop,ASUS ROG,ASUS ROG Strix Scar 17,X173,11.0,1999.0,1539.23,True

In [32]:
df[df['Category'].isin(['Laptop', 'Smartphone'])]

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
10,9.0,1/1/2023,Saudi Arabia,aseer,as01,18.2311,42.5004,fadi,aljabaan,Fadi.aljabaan@mail.com,Tel: 5271157029,Laptop,HP Envy,Envy x360,I974,1.0,899.0,NaN,True
12,11.0,1/1/2023,Egypt,cairo,cr03,30.0444,31.2357,eala,aljabaan,Eala.aljabaan@mail.com,Tel: 5725081300,Laptop,Lenovo Legion,Lenovo Legion 5,B541,3.0,1099.0,NaN,True
26,25.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,jwny,alrifaei,jwny.alrifaei@mail.com,Tel: 5073584006,Laptop,Lenovo Legion,Lenovo Legion 5,P653,3.0,1099.0,32.97,True
27,26.0,1/1/2023,Syria,damascus,ds02,33.5146,36.3084,ali,iismaeil,ALI.IISMAEIL@MAIL.COM,Tel: 5835136476,Laptop,Apple MacBook,"MacBook Air 13""",U470,1.0,999.0,79.92,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19973,19970.0,1/9/2023,USA,new york,ny03,40.7498,-73.9814,shyryn,sharfah,shyryn.sharfah@mail.com,Tel: 5733756835,Smartphone,Samsung Galaxy,Galaxy Z Fold 3,S691,2.0,1799.0,35.98,True
19977,19974.0,1/9/2023,USA,new york,ny01,40.7128,-74.0060,omar,alhasan,OMAR.ALHASAN@MAIL.COM,Tel: 5841740690,Laptop,HP Envy,Envy x360,J860,3.0,899.0,53.94,True
19983,19980.0,1/9/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,abd alruhmin,alnasar,abd alruhmin.alnasar@mail.com,Tel: 5079428018,Smartphone,Apple iPhone,iPhone 13 Pro Max,V339,1.0,1299.0,90.93,True
19990,19987.0,1/9/2023,Egypt,asyut,at01,27.1809,31.1837,ismaeil,alhumwi,Ismaeil.alhumwi@mail.com,Tel: 5921522563,Laptop,HP Pavilion,HP Pavilion 15,H520,1.0,799.0,55.93,False
19992,19989.0,1/9/2023,Syria,damascus,ds02,33.5146,36.3084,amir,aleass,Amir.aleass@mail.com,Tel: 5341230854,Laptop,ASUS ROG,ASUS ROG Strix Scar 17,X173,11.0,1999.0,1539.23,True

In [33]:
df[df['Item'].str.contains('S21 ')]#يحتوى جواه على هذه الكلمة

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
33,31.0,1/1/2023,USA,new york,ny01,40.7128,-74.0060,muhamad,shbyb,muhamad.shbyb@mail.com,Tel: 5488892188,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,F510,1.0,1199.0,47.96,False
78,75.0,1/1/2023,United Arab Emirates,dubai,db02,25.2048,55.2708,muhamad,bradey,MUHAMAD.BRADEY@MAIL.COM,Tel: 5416347570,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,B966,1.0,1199.0,59.95,True
480,477.0,6/1/2023,France,paris,ps02,48.8566,2.3522,ahmad,qadish,ahmad.qadish@mail.com,Tel: 5975788229,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,F510,1.0,1199.0,47.96,True
509,506.0,7/1/2023,United Arab Emirates,dubai,db01,25.2048,55.2708,lamia,bilul,Lamia.bilul@mail.com,Tel: 5570117571,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,C539,3.0,1199.0,179.85,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18306,18303.0,11/8/2023,Saudi Arabia,jeddah,jd01,21.5433,39.1728,ahmad,earmush,AHMAD.EARMUSH@MAIL.COM,Tel: 5696590983,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,L025,1.0,1199.0,59.95,True
18358,18355.0,12/8/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,muhamad,alhaj ali,Muhamad.alhaj Ali@mail.com,Tel: 5008520786,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,Z067,1.0,1199.0,119.90,False
18781,18778.0,17/8/2023,Syria,homs,hs01,34.7326,36.7136,anwar,alqutb,ANWAR.ALQUTB@MAIL.COM,Tel: 5614199314,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,Q628,3.0,1199.0,251.79,True
18830,18827.0,18/8/2023,Saudi Arabia,jeddah,jd01,21.5433,39.1728,eala,alsaedi,EALA.ALSAEDI@MAIL.COM,Tel: 5871576598,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,W493,1.0,1199.0,35.97,True
19227,19224.0,23/8/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,sarih,jamul,Sarih.jamul@mail.com,Tel: 5199394879,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,B938,12.0,1199.0,719.40,False

In [35]:
df[df['Sub Category'].str.startswith('Apple')]#startswith , endswith

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
11,10.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,zahir,almunajid,Zahir.almunajid@mail.com,Tel: 5151565826,Smart Speaker,Apple HomePod,Apple HomePod mini,R236,9.0,99.0,71.28,True
27,26.0,1/1/2023,Syria,damascus,ds02,33.5146,36.3084,ali,iismaeil,ALI.IISMAEIL@MAIL.COM,Tel: 5835136476,Laptop,Apple MacBook,"MacBook Air 13""",U470,1.0,999.0,79.92,False
43,41.0,1/1/2023,USA,new york,ny01,40.7128,-74.0060,khalid,abu,Khalid.abu@mail.com,Tel: 5641023552,Laptop,Apple MacBook,"MacBook Pro 16""",U646,1.0,2399.0,23.99,False
82,79.0,1/1/2023,Saudi Arabia,jeddah,jd02,21.4858,39.1925,ahmad,bara,AHMAD.BARA@MAIL.COM,Tel: 5406450504,Smart Speaker,Apple HomePod,Apple HomePod,J345,1.0,299.0,11.96,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19893,19890.0,31/8/2023,USA,new york,ny03,40.7498,-73.9814,ahmad,alsulayman,AHMAD.ALSULAYMAN@MAIL.COM,Tel: 5331884230,Smartphone,Apple iPhone,iPhone SE,T351,1.0,399.0,39.90,True
19911,19908.0,31/8/2023,Egypt,cairo,cr02,30.0444,31.2357,qays,almarstani,Qays.almarstani@mail.com,Tel: 5423629369,Smartphone,Apple iPhone,iPhone SE,S855,1.0,399.0,31.92,True
19923,19920.0,31/8/2023,Syria,aleppo,al01,36.2021,37.1343,rinah,sharabi,rinah.sharabi@mail.com,Tel: 5971130974,Smartphone,Apple iPhone,iPhone 12,E301,1.0,899.0,53.94,True
19964,19961.0,1/9/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,husam,ghunum,husam.ghunum@mail.com,Tel: 5512242836,Tablet,Apple iPad,iPad Air,I036,1.0,649.0,38.94,False
19983,19980.0,1/9/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,abd alruhmin,alnasar,abd alruhmin.alnasar@mail.com,Tel: 5079428018,Smartphone,Apple iPhone,iPhone 13 Pro Max,V339,1.0,1299.0,90.93,True

In [36]:
df[(df['Branch'].str.contains('hs')) & (df['Category'].str.startswith('Smart'))]

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
159,156.0,2/1/2023,Syria,homs,hs01,34.7326,36.7136,dijwar,watar,dijwar.watar@mail.com,Tel: 5990362926,Smart Speaker,Harman Kardon,Harman Kardon Citation,W243,1.0,199.0,19.90,True
209,206.0,3/1/2023,Syria,homs,hs01,34.7326,36.7136,fadi,alasfar,FADI.ALASFAR@MAIL.COM,Tel: 5356100765,Smartphone,Samsung Galaxy,Galaxy Z Fold 3,Z398,1.0,1799.0,125.93,True
355,352.0,5/1/2023,Syria,homs,hs01,34.7326,36.7136,anwar,litansdurfr,Anwar.litansdurfr@mail.com,Tel: 5199225319,Smartwatch,Samsung Gear,Samsung Gear Fit 4,S783,4.0,199.0,15.92,True
356,353.0,5/1/2023,Syria,homs,hs01,34.7326,36.7136,muhamad,alealiu,MUHAMAD.ALEALIU@MAIL.COM,Tel: 5428564936,Smartwatch,Garmin Forerunner,Garmin Forerunner 945,U751,1.0,599.0,23.96,True
612,609.0,8/1/2023,Syria,homs,hs01,34.7326,36.7136,jamal,alnisrin,Jamal.alnisrin@mail.com,Tel: 5481059658,Smartphone,OnePlus,OnePlus 10 Pro,Y332,1.0,999.0,39.96,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19545,19542.0,27/8/2023,Syria,homs,hs01,34.7326,36.7136,salih,mudinih,SALIH.MUDINIH@MAIL.COM,Tel: 5665168350,Smartwatch,Apple Watch,Apple Watch Series 7,G327,2.0,399.0,7.98,True
19742,19739.0,29/8/2023,Syria,homs,hs01,34.7326,36.7136,rima,alkhuriu,RIMA.ALKHURIU@MAIL.COM,Tel: 5233485432,Smart Speaker,Apple HomePod,Apple HomePod mini,C192,1.0,99.0,5.94,True
19803,19800.0,30/8/2023,Syria,homs,hs01,34.7326,36.7136,fawaz,zaytun,Fawaz.zaytun@mail.com,Tel: 5234946724,Smartphone,Oppo Find,Oppo Find X4 Pro,O251,1.0,899.0,44.95,True
19886,19883.0,31/8/2023,Syria,homs,hs01,34.7326,36.7136,faras,eamir,Faras.eamir@mail.com,Tel: 5777367204,Smart Speaker,Google Nest,Nest Audio,Z674,1.0,99.0,2.97,True
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True

In [51]:
df[(df['Country'] ==('Syria')) & (df['Category'].str.startswith('Smart'))]

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
6,6.0,1/1/2023,Syria,Aleppo,AL01,36.2021,37.1343,ahed,salim,ahed.salim@mail.com,Tel: 5277356213,Smartwatch,Garmin Fenix,Garmin Fenix 6S,J431,1.0,499.0,4.99,True
52,50.0,1/1/2023,Syria,Damascus,DS02,33.5146,36.3084,zayn,bwalsibae,zayn.bwalsibae@mail.com,Tel: 5897050689,Smartwatch,Garmin Venu,Garmin Venu 2S,H016,1.0,349.0,6.98,True
69,66.0,1/1/2023,Syria,Aleppo,AL01,36.2021,37.1343,salam,alhizae,salam.alhizae@mail.com,Tel: 5992166009,Smartwatch,Huawei Watch,Huawei Watch Fit 2 Pro,S348,2.0,129.0,2.58,True
85,82.0,1/1/2023,Syria,Aleppo,AL01,36.2021,37.1343,rim,hamdan,rim.hamdan@mail.com,Tel: 5420204828,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y518,1.0,249.0,2.49,True
136,133.0,2/1/2023,Syria,Damascus,DS02,33.5146,36.3084,rami,hujah,rami.hujah@mail.com,Tel: 5123907566,Smartwatch,Garmin Venu,Garmin Venu 2S,E437,1.0,349.0,34.90,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19839,19836.0,30/8/2023,Syria,Damascus,DS02,33.5146,36.3084,iin,alsydawi,iin.alsydawi@mail.com,Tel: 5372007424,Smartphone,Oppo Find,Oppo Find X4 Pro,K140,4.0,899.0,215.76,True
19875,19872.0,31/8/2023,Syria,Damascus,DS02,33.5146,36.3084,ayham,shanan,ayham.shanan@mail.com,Tel: 5781590302,Smart Speaker,Amazon Echo Show,Amazon Echo Show 8 (2nd Gen),G451,2.0,129.0,25.80,True
19886,19883.0,31/8/2023,Syria,Homs,HS01,34.7326,36.7136,faras,eamir,faras.eamir@mail.com,Tel: 5777367204,Smart Speaker,Google Nest,Nest Audio,Z674,1.0,99.0,2.97,True
19923,19920.0,31/8/2023,Syria,Aleppo,AL01,36.2021,37.1343,rinah,sharabi,rinah.sharabi@mail.com,Tel: 5971130974,Smartphone,Apple iPhone,iPhone 12,E301,1.0,899.0,53.94,True
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True

In [45]:
df['City'].str.title()

0              Homs
1            Riyadh
2            Riyadh
4         Abu Dhabi
5        Washington
            ...
19999    Casablanca
20000          Homs
20001     Las Vegas
20002        Jeddah
20003    Washington
Name: City, Length: 20000, dtype: object

In [46]:
df['City'].str.capitalize()

0              Homs
1            Riyadh
2            Riyadh
4         Abu dhabi
5        Washington
            ...
19999    Casablanca
20000          Homs
20001     Las vegas
20002        Jeddah
20003    Washington
Name: City, Length: 20000, dtype: object

In [47]:
df['City'] = df['City'].str.capitalize()

In [48]:
df['Branch'] = df['Branch'].str.upper()
df['Email'] = df['Email'].str.lower()

In [49]:
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,Homs,HS01,34.7326,36.7136,lina,alrrashid,lina.alrrashid@mail.com,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar.eurul@mail.com,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman.iismaeil@mail.com,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,Abu dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad.rihan@mail.com,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami.altawil@mail.com,Tel: 5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad.iad@mail.com,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,Las vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True